# MongoDB Database Connection
MONGODB_URI=mongodb://127.0.0.1:27017/girls_pg

# JWT Secret for Admin Session
JWT_SECRET=super_secret_girls_pg_jwt_key_2026_luxury

# Admin Default Seed Credentials
ADMIN_EMAIL=admin@girlspg.com
ADMIN_PASSWORD=Admin@GirlsPG2026

# WhatsApp Configuration (International format without '+' for direct API)
NEXT_PUBLIC_WHATSAPP_NUMBER=918957356189

# PG Branding Defaults
NEXT_PUBLIC_PG_NAME="Sree Kunj Girls PG"
NEXT_PUBLIC_COLLEGE_NEAR="Near JECRC & Poornima University, Jaipur"

# Firebase Client Configuration (Optional for Live Firebase uploads)
NEXT_PUBLIC_FIREBASE_API_KEY= "AIzaSyBgx6vXmKA_gQIIGKxpWggzPvGCfHvgR68"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="girls-pg.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_APP_ID="1:437602922888:web:80954376c3e8db15d3ca3d"

# Developer Portfolio Link
NEXT_PUBLIC_DEVELOPER_PORTFOLIO_URL="https://abhinav-dev-five.vercel.app/"

